.entry-title{
    font-family: $font-two;
    font-size: 30px;
}


.entry-content  {

    h2{
        font-family: $font-one;
        font-size: 20px;
    }

    p {
        font-family: $font-two;
        font-size: 15px;  
    }
}
