
.sidebar {
    background-color: $white;
    a{
        color: $color-1;
    }
    a:hover{
        @extend %text-hover;
    }
}

.site-title {
    a{
        font-family: $font-one;
        text-transform: uppercase;
    }
}

.main-navigation{

    li{
        a {
            font-family: $font-two;
            font-size: 15px;
        }
    }
}

.social-navigation{

    a {
        font-family: $font-two;
        color:$color-1;
    }
}

.custom-html-widget {
    a {
        font-family: $font-one;
        color: $color-1;
    }
}

.widget_custom_html {
    margin: 20px 0;

    a{
    border-bottom: none;
    }
    a:hover{
    border-bottom: 1px solid $color-3;
    }
}






