
//colors
$color-1: #a23e61; //magenta
$color-2: #a24d3e; //orange
$color-3: #a27f3e; //yellow
$color-4: #93a23e; //yellowgreen
$color-5: #61a23e;
$color-6: #3ea24d;

$black: black;
$white: white;

//fonts
@import url('https://fonts.googleapis.com/css?family=Volkhov|Zilla+Slab+Highlight&display=swap');
@import url('https://fonts.googleapis.com/css?family=Catamaran&display=swap');

$font-one: 'Volkhov', serif;
$font-two: 'Catamaran', sans-serif;
