
//colors

$orange : #ffbe76;
$brown : #a8702f;
$blue : #064052;
$yellow : #cac839;

$black: black;
$white: white;

//fonts
@import url('https://fonts.googleapis.com/css?family=Volkhov|Zilla+Slab+Highlight&display=swap');
@import url('https://fonts.googleapis.com/css?family=Catamaran&display=swap');

$font-one: 'Volkhov', serif;
$font-two: 'Catamaran', sans-serif;
